@model Zeiterfassung_Domain.Employee


@{ ViewBag.Title = "Index"; }

<div class="row">
    <div class="col-lg-12">
        <h1>Willkommen @Model.Name!</h1>
        <h2>Was wollen Sie machen?</h2>
    </div>
</div>



