@model Zeiterfassung.Models.Timetable

@{
    ViewBag.Title = "TimeHome";
}


<div class="row">
        <h1>Ihre Arbeitszeitübersicht</h1>
        <div class="col-lg-6">
            @using (Html.BeginForm("Start", "Home"))
            {
                <input type="submit" name="StartButton" value="Zählung starten" class="btn btn-primary btn-lg" />
            }
        </div>
        <div class="col-lg-6">
            @using (Html.BeginForm("Stop", "Home"))
            {
                
                <input type="submit" name="EndButton" value="Zählung stoppen" class="btn btn-primary btn-lg" /><br /><br />
            }
        </div>
        

</div>
<div class="row">
    <div class="col-lg-12">
        @if(Model != null)
        {
            <h2 style="text-align:center">@Model.ResultTime</h2>
        }
        
    </div>
</div>
