@model Zeiterfassung_Domain.ModelCombiner
    ViewBag.Title = "TimeStop";
}

<h2>Ihre Zählung wurde gestartet!</h2>
<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm("Stop", "Home"))
        {
            <input type="submit" name="EndButton" value="Zählung stoppen" class="btn btn-primary btn-lg" /><br /><br />
            @Html.HiddenFor(m => m.timemodel.StartTime)
            @Html.HiddenFor(m => m.employeemodel.GivenEmail)
            @Html.HiddenFor(m => m.employeemodel)
        }
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1>Ihre Zeit beträgt @Model.timemodel.ResultTime</h1>
    </div>
</div>


