@model Zeiterfassung_Domain.ModelCombiner


@{
    ViewBag.Title = "TimeStart";
}

<div class="row">
    <h1>Ihre Arbeitszeitübersicht</h1>
    <div class="col-lg-6">
        @using (Html.BeginForm("Start", "Home"))
        {
            <input type="submit" name="StartButton" value="Zählung starten" class="btn btn-primary btn-lg" /><br /><br />
        }
    </div>
</div>

